#formulario {
    border: 1px solid black; 
    padding: 20px;
    width: max-content;
    align-self: center;
}
.label-form {
    font-weight: bolder;
    width: 100px;
    padding-right: 30px;
    float: left;
}
.container-button {
    text-align: center;
}
.send-button {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px;
    font-size: 15px;
}
.send-button:hover {
    cursor: pointer;
    background-color: lightblue;
}
.form-position {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}